*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Bebas Neue', cursive;
}
canvas{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.heading{
    position: fixed;
    z-index: 4;
    color: #e1c8b9;
    font-size: 3em;
    right: 28%;
    bottom: 50%;
    transform: translate(-28%, -50%);
}
.para {
    position: fixed;
    z-index: 2;
    color: #98908b;
    font-size: 1em;
    right: 34.5%;
    bottom: 51%;
    transform: translate(-34.5%, -51%);
    text-transform: lowercase;
}